{% extends '::base.html.twig' %}

{% block body %}
{% if app.session.flashBag.has('success') %}
<div class="bg-success text-success">
  {% for message in app.session.flashBag.get('success') %}
      {{ message }}
  {% endfor %}
</div>
{% endif %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
  <form  action="{{ path('contact_edit', {id: contact.id}) }}" method="post">
    
    {{ form_rest(form) }}
    <button  class="btn btn-success" type="submit">Save</button>
    <a class="btn btn-default"  href="{{ path('contacts')}}">Back to list</a>
  </form>

{% endblock %}
